.dataInputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 250px;
}

.titleOfSearchInput {
  font-size: 30px;
  margin: 30px;
  font-weight: bold;
}

.boxForInput {
  display: flex;
}

.entryField {
  margin-left: 40px;
  margin-right: 40px;
  resize: none;
  height: 40px;
  width: 400px;
  font-size: 20px;
  border: none;
  background-color: #f5f5f5;
  border-radius: 10px;
  overflow: auto;
}

.entryField:focus {
  outline: none;
  /* border: 1px solid red; */
  box-shadow: 0 0 10px #81d4fa;
}

/* .button_add {
  margin-left: 20px;
  border: none;
  border-radius: 10px;
  width: 100px;
  background-color: #29b6f6;
}

.button_add:hover {
  background-color: #03a9f4;
  box-shadow: 0 0 10px #81d4fa;
}

.button_add:active {
  background-color: #b3e5fc;
} */
